/****************** General ******************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
}

/****************** Icons ******************/

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: #000000;
}


/****************** Header ******************/

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.logo {
    padding: 30px 50px 30px 0;
}

.logo img {
    height: 19px;
    width: 61px;;
}

nav {
    padding: 0 50px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    gap: 68px;
}

nav a {
    height: 35px;
    padding: 15px;
    font-size: 16px;
    border-top: transparent 2px solid;
}

nav a:hover {
    color: var(--main-color);
    border-top: var(--main-color) 2px solid;
}

/****************** Barre de recherche ******************/
.search {
    padding: 35px 0;
}

.search h1 {
    font-size: 1.375rem;
    margin: 0;
}

.search .chapeau {
    font-size: 1rem;
    margin: 8px 0 0 0;
}

.search_bar {
    margin: 35px 0 0 0;
    display: flex;
    align-items: center;
    font-size: 0; /* Pour supprimer l'espace entre les "input" */
}

.search_bar form input{
    height: 50px;
    font-size: 1.125rem;
    margin: 0;
    box-sizing: border-box;
}

.icon_location {
    display: inline-block;
    background-color: var(--main-bg-color);
    width: 50px;
    padding: 17px 0;
    border-radius: 15px 0 0 15px;
    text-align: center;
    font-size: 1rem;
}

.search_bar form input[type=text] {
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
    border-left: none;
    border-right: none;
    text-align: center;
    font-weight: 700;
}

.search_bar form input[type=submit] {
    padding : 0 16px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.search_filters {
    margin: 35px 0 0 0;
    display: flex;
    gap: 15px;
    height: 50px;
    align-items: center;
}

.search_filters p {
    font-size: 1.125rem;
    font-weight: 700;
}

.filters_list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filters_list a {
    box-sizing: border-box;
    border : 2px solid var(--main-bg-color);
    border-radius: 25px;
    font-size: 1.063rem;
    font-weight: 700;
    padding: 15px 19px;
}

.filters_list a i {
    margin-right: 10px;
}

.filters_list a:hover {
    background-color: var(--filter-bg-color);
}

.info_bar {
    margin: 35px 0 0 0;
    height: 24px;
}

.info_bar, .icon-wrapper {
    display: flex;
    align-items: center;
}

.icon-wrapper {
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--main-bg-color);
    font-size: 0.75rem;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.icon-wrapper i {
    color: var(--main-color);
}

/****************** Section hébergements et populaires ******************/

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-subtitle {
    font-size: 0.875rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****************** Hebergements ******************/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 27px;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 30px;
}

.hebergements-cards a{
    width: 30%;
}

.hebergements .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 4px 0;
}

.hebergements-cards .card-rating {
    margin-top: auto;
    margin-bottom: 10px;
}

.btn_afficher_plus {
    font-size: 1.125rem;
    font-weight: 700;
}

/****************** Populaires ******************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****************** Activités ******************/

.activites {
    margin-top: 65px;
    margin-bottom: 65px; 
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.activites-cards a {
    width: 100%;
}

.card-activites {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-activites img {
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.card-activites .card-title {
    margin-left: 19px;
}

/****************** Footer ******************/

footer {
    background-color: var(--main-bg-color);
    padding: 20px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer_element {
    width: 33%;
} 

.footer_list {
    margin-top: 15px;
}

.footer_list li {
    list-style-type: none;
    margin-bottom: 15px;;
}

footer h3 {
    font-size: 1.125rem;
    margin: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (max-width: 1440px) {

}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}