.search {
    padding: 35px 0;
}

.search h1 {
    font-size: 1.375rem;
    margin: 0;
}

.search .chapeau {
    font-size: 1rem;
    margin: 8px 0 0 0;
}

.search_bar {
    margin: 35px 0 0 0;
    display: flex;
    align-items: center;
}

.search_bar form input{
    height: 50px;
    font-size: 1.125rem;
    margin: 0;
    box-sizing: border-box;
}

.btn_geo {
    display: inline-block;
    background-color: var(--main-bg-color);
    width: 50px;
    padding: 15px 0;
    border-radius: 15px 0 0 15px;
    text-align: center;
}

.search_bar form input[type=text] {
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
    border-left: none;
    border-right: none;
    text-align: center;
    font-weight: 700;
}

.search_bar form input[type=submit] {
    padding : 0 16px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.search_filters {
    margin: 35px 0 0 0;
    display: flex;
    gap: 15px;
    height: 50px;
    align-items: center;
}

.search_filters p {
    font-size: 1.125rem;
    font-weight: 700;
}

.filters_list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filters_list a {
    box-sizing: border-box;
    border : 2px solid var(--main-bg-color);
    border-radius: 25px;
    font-size: 1.063rem;
    font-weight: 700;
    padding: 15px 19px;
}

.filters_list a i {
    margin-right: 10px;
}

.filters_list a:hover {
    background-color: var(--filter-bg-color);
}

.info_bar {
    margin: 35px 0 0 0;
    height: 24px;
}

.info_bar, .icon-wrapper {
    display: flex;
    align-items: center;
}

.icon-wrapper {
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--main-bg-color);
    font-size: 0.75rem;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.icon-wrapper i {
    color: var(--main-color);
}